In [3]:
pwd

'C:\\Users\\admin'

In [5]:
# what is the result
x=8
y=10
result=x//3*3/2+y%2**2
print(result)

5.0

In [7]:
# Which of the folloing code is valid to print congralations message

start=input('How old were you at the time of joining')
end=input('How old are you today')
print('congratulatios on '+str(int(end)-int(start))+'years of service')

How old were you at the time of joining25
How old are you today50
congratulatios on 25years of service

In [9]:
# which of the following won't print 'CAT to the console
x='ACROTE'
y='APPLE'
z='TOMATO'
print(x[1]+y[0]+z[0])
print(x[-5]+y[0]+z[0])
print(x[-5]+y[0]+z[-2])

CAT
CAT
CAT

In [11]:
# for which of the following condition true will be printed the console
x='Durga'
y='Durga'

result= x < y
print(result)

False

In [12]:
# for which of the following condition true will be printed the console
x='Durga'
y='Durga'

result= x!=y
print(result)

False

In [13]:
# for which of the following condition true will be printed the console
x='Durga'
y='Durga'

result= x is not y
print(result)

False

In [14]:
# for which of the following condition true will be printed the console
x='Durga'
y='Durga'

result= x is  y
print(result)

True

In [20]:
## After executing code segment 1,2,3 the result types of c1,c2,c3

# code segment1
a1='10'
b1=3
c1=a1*b1
print('c1 type=',type(c1))

# code segment1
a2=10
b2=3
c2=a2/b2
print('c2 type=',type(c2))

# code segment1
a3=2.6
b3=1
c3=a3/b3
print('c3 type=',type(c3))

c1 type= <class 'str'>
c2 type= <class 'float'>
c3 type= <class 'float'>

In [22]:
# In which of the following cases we will get same result
a=13//4
print(a)
b=11/3
print(b)
c=3**1
print(c)
d=23%5
print(d)

3
3.6666666666666665
3
3

In [23]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)

False
True

In [2]:
# in which of the following cases the result value 0
a=1
b=3
c=5
d=7
a-b//d

1

In [6]:

a**d-1

0

In [4]:
a+b*2

7

In [5]:
a%b-1

0

In [7]:
# what is result
s="AB CD"
list=list(s)
list.append('EF')
print(list)

['A', 'B', ' ', 'C', 'D', 'EF']

In [8]:
# to print 'vlaid' to the console, which condition we have to take for if statement
a=5
b=10
c=2
d=True
x=a+b*c
y=a+b/d

if x<=y:
    print ('valid')
else:
    print('invalid')

invalid

In [12]:
# to print 'vlaid' to the console, which condition we have to take for if statement

if x>y:
    print ('valid')
else:
    print('invalid')

valid

In [13]:
# which of the following code we have to write at Line1 to print sum of given number ?

x=input ('Enter the first Number')
y=input('Enter the second Number')
print('The result:' +str(int(x)+int(y)))

Enter the first Number10
Enter the second Number20
The result:30

In [16]:
result= a-(b*c)+d

In [18]:
#the types of weightzip,value variables respectively
weight=62.4
zip='80098'
value=+23E4

In [20]:
type(weight)

float

In [21]:
type(zip)

str

In [22]:
type(value)

float

In [25]:
# Identify the types of a,b,c
a=10+20
b='10'+'20'
c='10'*3

In [26]:
c

'101010'

In [27]:
type(a)

int

In [28]:
type(b)

str

In [29]:
type(c)

str

In [32]:
# which of the variables will represent false
a=bool([[False]])
b=bool(3)
c=bool("")
d=bool(' ')

In [31]:
a

True

In [34]:
b

True

In [36]:
c

False

In [37]:
d

True

In [39]:
# what is result value
result=(2*(3+4)**2-(3**3)*3)
print(result)

17

In [40]:
# to make a value as 9, which expression requied to place at last line
a=2
a+=1
a**2

9

In [41]:
#which variables reeprsent True
a=bool(0)
b=bool(3)
c=bool(0.5)
d=(0.0)

In [42]:
a,b

(False, True)

In [43]:
a,b,c,d

(False, True, True, 0.0)

In [44]:
b,c

(True, True)

In [45]:
c,d

(True, 0.0)

In [47]:
# what is result
a=21
b=6
print(a/b)
print(a//b)
print(a%b)

3.5
3
3

In [11]:
# in which cases true will be printed to the console
extra_subject=['java','python','sap']
more_subject=['java','python','sap']
print(extra_subject==more_subject)
print(extra_subject is more_subject)

True
False

In [18]:
employees=list(range(1,501))

In [19]:
employees

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500]

In [23]:
employees[-10:10] # slice operator never raise index error

[]

In [24]:
# What is result
number=[10,20,30,40,50]
alphabets=['a','b','c','d','e']
print(number is alphabets)
print(number ==alphabets)
number=alphabets
print(number is alphabets)
print(number ==alphabets)

False
False
True
True

In [25]:
# the types of age, minor and name varibles respectively
age=0
minor=False
name='Durga'

In [26]:
type(age)

int

In [27]:
type(False)

bool

In [28]:
type(name)

str

In [30]:
#which of the following expression will generate max value
8//3*4

8

In [31]:
8%3*4

8

In [32]:
8/3*4

10.666666666666666

In [33]:
8-3*4

-4

In [40]:
# To print 2 as output, which code we have to insert at line1
s='Python is easy'
s1=s[6:-4]
s2=s1.strip() #line1
print(len(s2))

2

In [42]:
employees=list(range(1,601))

In [43]:
employees[:-3]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597]

In [45]:
list=['Apple','Banana','Carrot','Mango']

In [47]:
list[-1]

'Mango'

In [48]:
list[3]

'Mango'

In [49]:
#print last three word
l=['Apple','Boy','Cat','Dog']
for x in l:
    print(x)

Apple
Boy
Cat
Dog

In [50]:
#print last three word
l=['Apple','Boy','Cat','Dog']
for x in l:
    if len(x) !=3:
        print(x)

Apple

In [51]:
#print last three word
l=['Apple','Boy','Cat','Dog']
for x in l:
    if len(x) ==3:
        print(x)

Boy
Cat
Dog

In [53]:
#print last three word
l=['Apple','Boy','Cat','Dog']
l1=l[1:]
for x in l1:
    print(x)

Boy
Cat
Dog

In [55]:
#what is result
a=15
b=5
print(a/b)   # / always meant for floting point arithmetric

3.0

In [67]:
# which of the following expression result -4 ?
a=1
b=2
c=4
d=6
print((a+b)//c*d)
print((b+c)//a%d)
print((a+b)//c%d)
print((a+b)//d-c)

0
0
0
-4

In [68]:
# Which is the result
s='Python is easy'
s1=s[-7:]
s2=s[-4:]
print(s1+s2)

is easyeasy

In [69]:
b=(-a)**2

In [72]:
# what is the result
result= 8//6%5+2**3-2
print(result)

7

In [81]:
# what is the result
a=3
b=5
a+=2**3
a-=b//2//3
print(a)

11

In [86]:
# which of the above variable represent True
a=bool([])
a

False

In [87]:
b=bool(())
b

False

In [88]:
c=bool(range(0))
c

False

In [90]:
d=bool(set())
d

False

In [99]:
# in which of the following cases 10 will be printed to the console
numbers=[10,20,30,40]
x=0
for i in (30,40,50):
    if i in numbers:
        x=x+10
print(x)

20

In [98]:
# in which of the following cases 10 will be printed to the console
numbers=[10,20,30,40]
x=0
for i in (30,40,50):
    if i not in numbers:
        x=x+5
print(x)

5

In [97]:
# in which of the following cases 10 will be printed to the console
numbers=[10,20,30,40]
x=0
for i in (30,40,50):
    if i in numbers:
        x=x+5
print(x)

10

In [102]:
# What is the result

n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)
n1=n2
print(n1 is n2)
print(n1==n2)

False
True
True
True